/**
 * Color Variables
 */

@brand: #14acc2;

@error: #B53A03;


@text-normal: #000;
@text-muted: lighten(@text-normal, 60%);

@bg-lt-gray: #f1f1f1;
@border-lt-gray: darken(@bg-lt-gray, 5%);
@accent-lt-gray: darken(#fff, 5%);
@accent-md-gray: darken(#fff, 25%);
@accent-white: #fff;

@color-dark: #223243;
@color-primary: #1ABB9C;
@color-offWhite: #f8f9fa;
@color-info: #17a2b8;
@color-secondary: #6c757d;
@color-success: #28a745;
@color-warning: #ffc107;
@color-danger: #dc3545;
